This File aims to clean imported data from the US Census

In [67]:
import os
import yaml
import pandas as pd

# Load the configuration file
with open(r'C:/Users/Dev/Documents/Real Estate Data/config/config.yaml', 'r') as file:
    config = yaml.safe_load(file)

# Import Directories

In [68]:
processed_dir = config['data']['census_data']['processed']['B19013_Median_Household_Income_by_Zipcode']
master_dir = config['data']['census_data']['master']

In [69]:
print(f"Processed Directory: {processed_dir} (Type: {type(processed_dir)})")
print(f"Master Directory: {master_dir} (Type: {type(master_dir)})")

Processed Directory: C:/Users/Dev/Documents/Real Estate Data/data/processed/census/B19013_Median_Household_Income_by_Zipcode (Type: <class 'str'>)
Master Directory: C:/Users/Dev/Documents/Real Estate Data/data/master/census/ (Type: <class 'str'>)

# Files

In [70]:
B19013_data_file = "B19013_Median_Household_Income_by_Zipcode_2022.csv"
output_file = 'census_master_data.csv'

# Import Files

### Import B19013 Data

In [71]:
file_path = os.path.join(processed_dir, B19013_data_file)
B19013_data = pd.read_csv(file_path, low_memory=False)

In [72]:
master = pd.DataFrame()

master = pd.concat([master, B19013_data], ignore_index=True)
master

      zipcode medianIncome
0       73949        58309
1       73960            -
2       75001        77598
3       75002       119301
4       75006        79672
...       ...          ...
1987    79934        77010
1988    79935        62018
1989    79936        60981
1990    79938        70806
1991    88430        38092

[1992 rows x 2 columns]

## Save the File

In [73]:
# Define the output CSV file path
output_file_path = os.path.join(master_dir, output_file)

# Save the merged DataFrame to CSV
master.to_csv(output_file_path, index=False)