This File aims to clean imported data from the US Census

In [43]:
import os
import yaml
import pandas as pd

# Load the configuration file
with open(r'C:/Users/Dev/Documents/Real Estate Data/config/config.yaml', 'r') as file:
    config = yaml.safe_load(file)

# Import Directories

In [44]:
raw_dir = config['data']['census_data']['raw']['B19013_Median_Household_Income_by_Zipcode']

processed_dir = config['data']['census_data']['processed']['B19013_Median_Household_Income_by_Zipcode']

# Files

In [45]:
B19013_data = 'ACSDT5Y2022.B19013-Data.csv'

# Import Files

### Import B19013 Data

In [46]:
file_path = os.path.join(raw_dir, B19013_data)
B19013_data = pd.read_csv(file_path, low_memory=False)

In [47]:
B19013_data = B19013_data.drop(B19013_data.index[0]).reset_index(drop=True)
B19013_data

              GEO_ID         NAME B19013_001E B19013_001M  Unnamed: 4
0     860Z200US73949  ZCTA5 73949       58309       17848         NaN
1     860Z200US73960  ZCTA5 73960           -          **         NaN
2     860Z200US75001  ZCTA5 75001       77598       10453         NaN
3     860Z200US75002  ZCTA5 75002      119301        7551         NaN
4     860Z200US75006  ZCTA5 75006       79672        5896         NaN
...              ...          ...         ...         ...         ...
1987  860Z200US79934  ZCTA5 79934       77010        6254         NaN
1988  860Z200US79935  ZCTA5 79935       62018        5507         NaN
1989  860Z200US79936  ZCTA5 79936       60981        2378         NaN
1990  860Z200US79938  ZCTA5 79938       70806        4033         NaN
1991  860Z200US88430  ZCTA5 88430       38092       11177         NaN

[1992 rows x 5 columns]

### Columns to Keep

In [48]:
B19013_data.columns.tolist()

['GEO_ID', 'NAME', 'B19013_001E', 'B19013_001M', 'Unnamed: 4']

In [49]:
columns_to_keep = [

    'NAME',
    'B19013_001E',

]

B19013_data[columns_to_keep]
B19013_data = B19013_data[columns_to_keep]

In [50]:
column_rename = {

    'NAME': 'zipcode',
    'B19013_001E': 'medianIncome',

    }

# Rename columns
B19013_data = B19013_data.rename(columns=column_rename)

In [51]:
# Remove everything to the right of the space in the Zipcode column
B19013_data['zipcode'] = B19013_data['zipcode'].str.split(' ').str[1]
B19013_data

     zipcode medianIncome
0      73949        58309
1      73960            -
2      75001        77598
3      75002       119301
4      75006        79672
...      ...          ...
1987   79934        77010
1988   79935        62018
1989   79936        60981
1990   79938        70806
1991   88430        38092

[1992 rows x 2 columns]

## Save the File

In [52]:
# Define the output CSV file path
output_file_path = os.path.join(processed_dir, 'B19013_Median_Household_Income_by_Zipcode_2022.csv')

# Save the merged DataFrame to CSV
B19013_data.to_csv(output_file_path, index=False)