This File aims to clean imported data from FRED

In [32]:
import os
import yaml
import pandas as pd

# Load the configuration file
with open(r'C:/Users/Dev/Documents/Real Estate Data/config/config.yaml', 'r') as file:
    config = yaml.safe_load(file)

# Import Directories

In [33]:
mortgage_raw_dir = config['data']['fred_data']['raw']['30-Year_Fixed_Rate_Mortgage_Average_US']


mortgage_processed_dir = config['data']['fred_data']['processed']['30-Year_Fixed_Rate_Mortgage_Average_US']

# Files

In [34]:
raw_mortgage_data = "MORTGAGE30US.csv"
processed_mortgage_data = "30-Year_Fixed_Rate_Mortgage_Average_US.csv"

# Import Files

### Import 30 Year Mortgage Data

In [35]:
file_path = os.path.join(mortgage_raw_dir, raw_mortgage_data)
mortgage_data = pd.read_csv(file_path, low_memory=False)
mortgage_data.columns

Index(['DATE', 'MORTGAGE30US'], dtype='object')

### Rename Columns

In [36]:
column_rename = {

    'DATE': 'date', 
    'MORTGAGE30US': 'interestRate',

}
    
mortgage_data = mortgage_data.rename(columns=column_rename)
mortgage_data

            date  interestRate
0     2000-01-07          8.15
1     2000-01-14          8.18
2     2000-01-21          8.26
3     2000-01-28          8.25
4     2000-02-04          8.25
...          ...           ...
1286  2024-08-29          6.35
1287  2024-09-05          6.35
1288  2024-09-12          6.20
1289  2024-09-19          6.09
1290  2024-09-26          6.08

[1291 rows x 2 columns]

## Save the File

In [37]:
# Define the output CSV file path
output_file_path = os.path.join(mortgage_processed_dir, processed_mortgage_data)

# Save the merged DataFrame to CSV
mortgage_data.to_csv(output_file_path, index=False)