Merge Pulled Zillow Listing Data to serve as a sample set for the the data creation project

# Date of Interest

In [123]:
import os
import yaml
import datetime
import pandas as pd
import numpy as np

# Load the configuration file
with open(r'C:/Users/Dev/Documents/Real Estate Data/config/config.yaml', 'r') as file:
    config = yaml.safe_load(file)

# Directories

In [124]:
# Imported Data Directory
imp_dir = config['data']['zillow_data']['processed']['listings']['zillow_search_scraper']

# Cleaned Data Directory
processed_dir = 'C:/Users/Dev/Documents/Real Estate Data/data/sample/actual listings'

# Files

In [125]:
# Imported Data 
firstpull = '2024-07-09_zillow_house_listings.csv'
secondpull = '2024-10-09_zillow_house_listings.csv'

# Cleaned Data
actuals = 'all_real_listings.csv'

# Import Files

In [126]:
file_path = os.path.join(imp_dir, firstpull)
df1 = pd.read_csv(file_path, low_memory=False)

file_path = os.path.join(imp_dir, secondpull)
df2 = pd.read_csv(file_path, low_memory=False)

### Add Source Date to each data frame

In [127]:
df1['source'] = '2024-07-09'
df2['source'] = '2024-10-09'

### Filter out df1

In [128]:
# Drop out home type
drop = ['LOT', 'MANUFACTURED']
df1 = df1[~df1['homeType'].isin(drop)]

# Filter Price Range
df1 = df1[(df1['price'] >= 50000) & (df1['price'] <= 1500000)]

### Merge data frames

In [129]:
df = pd.concat([df1, df2], ignore_index=True)

### Columns to Keep

In [130]:
columns_to_keep = [

    'zipID',
    'city',
    'state',
    'streetAddress',
    'zipcode',
    'latitude',
    'longitude',
    'beds',
    'baths',
    'sqft',
    'price',
    'homeType'
]

df[columns_to_keep]
df = df[columns_to_keep]    
df

,zipID,city,state,streetAddress,zipcode,latitude,longitude,beds,baths,sqft,price,homeType
0,27666682,Crystal Beach,TX,2598 Breaker Dr,77650.0,29.464958,94.607540,4.0,4.0,1840.0,769000,SINGLE_FAMILY
1,27689601,Pt Bolivar,TX,1415 Quarles Ave,77650.0,29.383598,94.768166,3.0,2.0,1408.0,200000,SINGLE_FAMILY
2,89537714,Crystal Beach,TX,978 Biscayne,77650.0,29.471834,94.596535,3.0,2.0,1080.0,350000,SINGLE_FAMILY
3,27686372,Crystal Beach,TX,2480 Gilmore,77650.0,29.461786,94.610950,3.0,2.0,1107.0,775000,SINGLE_FAMILY
4,353492656,Crystal Beach,TX,1211 Canal W,77650.0,29.464540,94.640396,3.0,2.0,1440.0,390000,SINGLE_FAMILY
...,...,...,...,...,...,...,...,...,...,...,...,...
25417,2079939074,Houston,TX,5003 Higgins St #A,77033.0,29.654604,95.348470,3.0,3.0,1892.0,277000,SINGLE_FAMILY
25418,27982729,Houston,TX,3014 Elpyco St,77051.0,29.645168,95.379196,3.0,2.0,1111.0,162000,SINGLE_FAMILY
25419,2055940257,Houston,TX,5617 Madden Ln,77048.0,29.633030,95.335106,3.0,2.0,1440.0,292780,SINGLE_FAMILY
25420,2060332592,Houston,TX,2915 Newington Ln,77047.0,29.620047,95.376785,3.0,2.0,1672.0,345000,SINGLE_FAMILY
25421,28094072,Houston,TX,11011 Carlton Dr,77047.0,29.639648,95.366730,2.0,2.0,1420.0,180000,SINGLE_FAMILY

# Save File

In [131]:
# Define the file path
csv_file_path = os.path.join(processed_dir, actuals)
df.to_csv(csv_file_path, index=False)